<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-100" style="background-image: url('{% static 'img/taller_vehiculos.jpg' %}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    
    <!-- Navbar -->
    
    <!-- Content -->
    <div class="container mx-auto px-4 py-8">
        {% block content %}{% endblock %}
    </div>
    
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

        // Agregar o quitar clase 'dark' dinámicamente
        if (prefersDarkScheme.matches) {
            document.documentElement.classList.add("dark");
        } else {
            document.documentElement.classList.remove("dark");
        }

        // Escuchar cambios en las preferencias del sistema
        prefersDarkScheme.addEventListener("change", (e) => {
            if (e.matches) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        });
    });
</script>

</html>
