<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800"  style="background-image: url('{% static 'img/taller_vehiculos.jpg' %}');">
    <!-- Navbar -->
    <nav class="bg-white shadow">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <a href="#" class="text-lg font-bold text-blue-600">Taller Vehiculos</a>
            <ul class="flex space-x-4">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="text-gray-600 hover:text-blue-600">Cerrar Sesion</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="text-gray-600 hover:text-blue-600">Iniciar Sesion</a></li>
                    <li><a href="{% url 'register' %}" class="text-gray-600 hover:text-blue-600">Registrarse</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Content -->
    <div class="container mx-auto px-4 py-8">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
