{% extends "base.html" %}
{% block title %}Listado de {{ verbose_name_plural }}{% endblock %}

{% block content %}
{% load custom_filters %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Listado de {{ verbose_name_plural }}</h1>
        <div>
            <a href="{% url model_name|add:'_create' %}" class="btn btn-success btn-sm">Crear {{ verbose_name }}</a>
            {% if request.path == '/historialmensaje/' %}
                <button id="enviarMensajes" class="btn btn-primary btn-sm ml-2">Enviar Mensajes</button>
            {% endif %}
        </div>
    </div>
    
    <div class="card-body">
        <!-- Tabla principal para el listado -->
        <table id="myTable" class="table table-striped">
            <thead>
                <tr>
                    {% for field in fields %}
                        <th>{{ field|capfirst }}</th>
                    {% endfor %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                    <tr>
                        {% for field in fields %}
                            <td>{{ obj|get_field_value:field }}</td>
                        {% endfor %}
                        <td>
                            <a href="{% url model_name|add:'_edit' obj.pk %}" class="btn btn-warning btn-sm">Editar</a>
                            <form action="{% url model_name|add:'_delete' obj.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que deseas eliminar este elemento?');">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Botón para enviar mensajes con AJAX, solo visible si la URL es igual  -->
     
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#enviarMensajes").click(function () {
            $.ajax({
                url: "{% url 'enviar-mensajes' %}",  // URL configurada en Django para el envío de mensajes
                type: "GET",
                success: function (response) {
                    alert("Mensajes enviados: " + response.mensajes_enviados);
                },
                error: function () {
                    alert("Error al enviar mensajes.");
                }
            });
        });
    });
</script>
{% endblock %}
