{% extends "base.html" %}
{% block title %}Listado de {{ verbose_name_plural }}{% endblock %}
{% block content %}
{% load custom_filters %}

<div class="card">
    <div class="card-header">
        <h1 class="mb-4 ">Listado de {{ verbose_name_plural }}</h1>
        <a href="{% url model_name|add:'_create' %}" class="btn btn-success btn-sm mb-3 ">Crear {{ verbose_name }}</a>
    </div>
    <div class="card-body">
        <table id="myTable" class="table table-striped">
            <thead>
                <tr>
                    <!-- Cabecera de la tabla, los campos del modelo se listan aquí -->
                    {% for field in fields %}
                        <th>{{ field|capfirst }}</th> <!-- capitaliza el nombre del campo -->
                    {% endfor %}
                    <th>Acciones</th> <!-- Columna para los botones de acción -->
                </tr>
            </thead>
            <tbody>
                <!-- Itera sobre los objetos del listado -->
                {% for obj in object_list %}
                    <tr>
                        <!-- Muestra los datos de cada modelo -->
                        {% for field in fields %}
                            <td>{{ obj|get_field_value:field }}</td>  <!-- Usamos un filtro para acceder dinámicamente a los campos -->
                        {% endfor %}
                        <td> <!-- Columna de botones de acción -->
                            <a href="{% url model_name|add:'_edit' obj.pk %}" class="btn btn-warning btn-sm">Editar</a>
                            <form action="{% url model_name|add:'_delete' obj.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que deseas eliminar este elemento?');">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
